.bookContainer {
    margin-bottom: 50px;
}
.categorie{
    width: 100%;
    height: fit-content;
    padding-left : 50px;
    padding-right: 50px;
    
}

.books{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: auto;
    overflow-x: unset;
    justify-content: flex-start;
    padding-top: 15px;
    padding-bottom: 40px;
}
.bookLink:hover {
    text-decoration: none;
    color: #3498DB;
}

.title{
    padding : 10px; 
    font-weight: bold;
    font-size: 32px;
    line-height: 37.5px;
}

.seeMore{
    width: 150px;
    height: 45px;
    font-size: 18px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background-color: #3498DB ;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}
.seeMore:hover {
    text-decoration:none;
    color: rgb(194, 192, 192);
}
.seeMoreBtn{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}